@font-face{
  font-family: "misaki_gothic_2nd";
  src: url("/assets/fonts/misaki_gothic_2nd_subset.woff2") format("woff2")
}

html, body, #canvas{
  background-color: black;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
#canvas{
  object-fit: contain;
}